*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid rgb(246, 51, 152);
    transition: 0.3s all ease;
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
}
.container:hover{
    transform: translateY(-10px);
}
.container h1{
    font-size: 22px;
    margin-bottom: 10px;
}
.container .upload-box{
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}
.upload-box p{
font-size: 22px;
margin-top: 20px;
}
.upload-box img{
    height: 100px;
    width: 120px;
}
.container .content{
margin-top: 28px;
}

.content .row{
    display: flex;
    justify-content: space-between;
}
.content .row .column{
    width: calc(100% / 3 -15px);
}
.row .column label{
    font-size: 16px;
}
.sizes .column input{
    width: 90%;
    height: 49px;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: 7px;
    
}
.sizes .column input:focus{
    padding: 0 14px;
    border: 2px solid #f41794;
}

.content .checkbox{
    margin-top: 20px;
}
.checkbox .column{
    display: flex;
    align-items: center;
}
.checkbox .column input{
    width: 17px;
    height: 17px;
    accent-color: #f41794;
    margin-right: 9px;
}
.content .download-btn{
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 10px;
    outline: none;
    border: none;
    color: #fff;
    background: #ef813c;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: cursive;
    font-weight: 500;
    box-shadow: 10px 0 26px rgba(0, 0, 0, 0.25);
    transition: 0.3s all ease;
}
.content .download-btn:hover{
    transform: translateY(-10px);
    color: aliceblue;
    border: 2px dashed #000;

}
.container.active .upload-box img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.container.active .upload-box  p{
    display: none;
}
.container.active .upload-box{
    border: none;
}
.credit{
    text-align: center;
    font-size: 18px;
    color: #aaa;
    font-family: cursive;
    font-weight: 500;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }